@import 'tailwindcss';

:root {
    --radius: 0.3rem;
    --background: oklch(0.98 0 106);
    --foreground: oklch(0.15 0 49);
    --card: oklch(0.98 0 106);
    --card-foreground: oklch(0.15 0 49);
    --popover: oklch(0.98 0 106);
    --popover-foreground: oklch(0.15 0 49);
    --primary: oklch(0.28 0.07 46);
    --primary-foreground: oklch(0.77 0.16 70);
    --secondary: oklch(0.22 0.01 56);
    --secondary-foreground: oklch(0.97 0 106);
    --muted: oklch(0.22 0.01 56);
    --muted-foreground: oklch(0.87 0 56);
    --accent: oklch(0.22 0.01 56);
    --accent-foreground: oklch(0.97 0 106);
    --destructive: oklch(0.51 0.19 28);
    --border: oklch(0.96 0.06 96);
    --input: oklch(0.96 0.06 96);
    --ring: oklch(0.28 0.07 46);
    --chart-1: oklch(0.56 0.15 49);
    --chart-2: oklch(0.55 0.12 66);
    --chart-3: oklch(0.55 0.17 38);
    --chart-4: oklch(0.86 0.17 92);
    --chart-5: oklch(0.7 0.19 48);
    --sidebar: oklch(0.99 0.03 102);
    --sidebar-foreground: oklch(0.15 0 49);
    --sidebar-primary: oklch(0.28 0.07 46);
    --sidebar-primary-foreground: oklch(0.77 0.16 70);
    --sidebar-accent: oklch(0.22 0.01 56);
    --sidebar-accent-foreground: oklch(0.97 0 106);
    --sidebar-border: oklch(0.96 0.06 96);
    --sidebar-ring: oklch(0.28 0.07 46);
}

@theme {
    --breakpoint-*: initial;
    --breakpoint-mob: 20rem;
    --breakpoint-lgmob: 30rem;
    --breakpoint-tab: 48rem;
    --breakpoint-desk: 80rem;
    --breakpoint-lgdesk: 110rem;
}

@theme {
    --mob: var(--breakpoint-mob);
    --lgmob: var(--breakpoint-lgmob);
    --tab: var(--breakpoint-tab);
    --desk: var(--breakpoint-desk);
    --lgdesk: var(--breakpoint-lgdesk);
    --color-background: oklch(0.98 0 106);
    --color-foreground: oklch(0.15 0 49);
    --color-ordinary: oklch(0.29 0.06 54);
    --color-highlight: oklch(0.99 0.03 102);
    --font-roboto: 'Roboto', sans-serif;
    --font-sans: var(--font-roboto), Arial, Helvetica, sans-serif;
}
